* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px 72px;
}

@media only screen and (max-width: 800px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

header,
.hero,
.footer {
  background-color: #1f2937;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border-style: none;
  border-radius: 12px;
  padding: 12px 24px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  list-style: none;
  display: flex;
  gap: 16px;
}

.header-links a {
  text-decoration: none;
  color: #f9faf8;
}

.hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  flex: 1;

  padding: 48px 72px;
}

.hero .primary-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero .secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  /* flex: 1 1 auto */
}

.hero-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 18px;
  flex: 1 1 0;
}

.hero-container.image {
  background-color: gray;
}

.hero-container img {
  /* Needed to specify to make sure this image had the right size */
  max-height: 250px;
  align-self: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  padding: 24px 72px 48px;
}

.information-header {
  font-size: 36x;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 175px;
}

.card-image {
  border-radius: 12px;
  border-width: 12px;
  border-color: #3882f6;
  max-width: 100%;
}

.card-text {
  color: #1f2937;
  text-align: center;
  /* align-self doesn't seem to work. I think it has to do with all the flex containers nested within each other. */
  /* align-self: center; */
}
